<!DOCTYPE html>
<html>
  <head>
    <title>Fsweek3day1b</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"> </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="gossip/home" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/gossip/team" class="nav-link">Team</a></li>
        <li class="nav-item"><a href="/gossip/contact" class="nav-link">Contact</a></li>

      </ul>
    </header>
  </div>
    
    <%= yield %>
  </body>
</html>
